@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://i.imgur.com/dEx9aMb.jpg") center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}
